<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
<div id="app">

    <div id="TodoList-wrapper">
        <h1>TodoList</h1>
        <div class="newTask">
            <lable>输入您的待办事项：</lable>
            <input type="text" v-model="newTodo" @keypress.enter="addTodo">
        </div>
        <ol class="Todos">
            <lable>您的事项日程：</lable>
            <li v-for="todo in todoList">
                <input type="checkbox" v-model="todo.done"> {{ todo.title }}
                <span v-if="todo.done" class="active">已完成</span>
                <span v-else>未完成</span>
                <button @click="remove(todo)" id="delete">delete</button><span id="time">{{ todo.createdAt}}</span>

            </li>
        </ol>
    </div>

</div>
<script src="bundle.js"></script>
</body>

</html>